<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ruta" value="D:\" />
    <add key="buzon" value="Buzon" />
    <add key="busqueda_buzon" value="Buzon A Buscar" />
    <add key="carpeta_a_buscar" value="Bandeja de Entrada" />
    <add key="remitente" value="Un Remitente" />
    <add key="ipbd" value="192.168.254.243" />
    <add key="database" value="orange"/>
    <add key="userbd" value="???" />
    <add key="passbd" value="?????" />
    <!---  cambiar a dos para evitar que se inserten datos y solo actualizar los campos Gestion Tiempos TA y TC. -->
    <add key="updateOnly" value="2"/>

    <add key="patt" value="[\[1-9\d{5}\]]"/>
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>